
.ipynb_checkpoints/churn_raw_data-checkpoint.csv
.ipynb_checkpoints/D206 Data Cleaning_Churn Data Consideration and Dictionary-checkpoint.pdf
.ipynb_checkpoints/functions-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/functions.cpython-39.pyc
.ipynb_checkpoints/D206_Paper-checkpoint.ipynb
.ipynb_checkpoints/D206_code-checkpoint.ipynb
.ipynb_checkpoints/cleaned_churn_data-checkpoint.csv
